<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{930,704}</string>
                <key>spriteSourceSize</key>
                <string>{938,704}</string>
                <key>textureRect</key>
                <string>{{1,1},{930,704}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,130}</string>
                <key>spriteSourceSize</key>
                <string>{420,130}</string>
                <key>textureRect</key>
                <string>{{1,707},{420,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbox_btn_add_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{535,707},{31,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>times_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{423,707},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_ui.png</string>
            <key>size</key>
            <string>{932,838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79b24ade59df1f0a5c4592ab30cab9b0:51ccc5403337075caafb2616d3e5ef9c:4a6629bec4e9c7c5a5269e20618b7c65$</string>
            <key>textureFileName</key>
            <string>game_ui.png</string>
        </dict>
    </dict>
</plist>
